<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= restaurant.image %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= restaurant.title%>
                    </h5>
                    <p class="card-text">
                        <%= restaurant.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= restaurant.location %>
                    </li>
                    <li class="list-group-item">
                        <%= restaurant.phone %>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/restaurant/<%=restaurant._id%>/edit">Edit</a>
                    <form class="d-inline" action="/restaurant/<%= restaurant._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger ">Delete</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="div col-6">
            <h2>Leave a Review</h2>
            <form action="/restaurant/<%=restaurant._id%>/reviews" method="POST" class="mb-3">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" name="review[rating]" id="rating" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for(let review of restaurant.reviews){%>
                <div class="card mb-3">
                    <div class="mb-3 card-body">

                        <h5 class="card-title">
                            <%= review.rating%>
                        </h5>
                        <p class="card-text">
                            <%= review.body %>
                        </p>
                        <form action="/restaurant/<%=restaurant._id%>/reviews/<%-review._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <%}%>
        </div>
    </div>


    <footer>
        <a href="/restaurant">All restaurant</a>
    </footer>